@viewport {
  width: device-width;
}
html {
  font-size: 62.5%;
  width:100%;
}

body {
  font-family: 'Karla', sans-serif;
  color: #373737;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
	min-height: 100%;
	font-family: 'Titillium Web', sans-serif;	
}

h3 {
	font-size: 20px
	font-size: 2.0rem;
}

h4 {
	font-size: 14px
	font-size: 1.4rem;
  line-height: 2rem;
  line-height: 20px;
}

div {
	font-size: 12px
	font-size: 1.2rem;
}

.mobile-only {
	display: none;
}

.grid {
	position: absolute;
	top: 0px;   	
  border-collapse:collapse;
}

.section-1-container {
	display: flex;
	height: 100%;
}

.contact-info {	
	margin-left: 10px;		
	display: flex;
	flex-direction: column;
	width: 200px;
}

.bio div {
	margin-bottom: 5px;
}

.bio {
	margin-bottom: 15px;
}

.profile-photo-container {
	margin-top: 20px;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	overflow: hidden;
}

.profile-photo {
	height: 150px;
	width: 150px;
}

.contact-content {
	border-right: 2px solid black;
	padding-right: 15px;
}

.contact-spacer {
	position: relative;
	flex-grow: 1;
	border-right: 2px solid black;
	padding-right: 15px;
}

.contact-bottom {
	height: 30px;
}

.down-arrow {	
	font-size: 35px;
	bottom: -26px;
	right: -12px;
	position: absolute;	
}

.about-david {
	display: flex;
	flex-grow: 1;
	padding: 30px;
}

.about-content {
	max-width: 750px;
	margin-left: 30px;
	padding-bottom: 20px;
}

.about-content div {
	margin-bottom: 8px;
}

.about-header {
	font-weight: bold;
	margin-top: 20px;
}

.cell {
	background: gray;
	opacity: 0;
	border: none;
}

.title {
	margin-top: 40px;
	margin-top: 4.0rem;
	text-align: center;
}

.tldr {
	margin-top: 20px;
	margin-top: 2.0rem;
	text-align: center;
}

.activity {
	text-align: center
}

.jobs h3 {
	font-size: 20px;
	font-size: 2.0rem;
}

.jobs h4 {
	font-size: 14px;
	font-size: 1.4rem;
}

.jobs div {
	font-size: 12px;
	font-size: 1.2rem;
}

.job-group {
	border: 2px solid rgb(210, 210, 210);
	border: . 20rem solid rgb(210, 210, 210);
	padding: 15px;
	padding: 1.5rem;
}

/*.school-shaped-logo {
	width: 50px;
}

.twitter-logo {
	width: 50px;
}*/

/*.logo.pivotal-logo {
	width: 100px;
}

.logo.twb-logo {
	width: 150px;
}

.launch-camp-logo {
	width: 150px;
}*/

.line-1 {
	margin-bottom:  15px;
	margin-bottom:  1.5rem;
}

.logo {
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
	height: 50px;
	height: 5.0rem;
}

.activity-heading {
	margin-top: 0px;
	margin-bottom: 7px;
	margin-bottom: .7rem;
	padding-top: 0px;
	margin-bottom: .7rem;
	padding-bottom: 0px;
}

.heading-group {
	margin-bottom: 10px;
	margin-bottom: 1.0rem;
}

.education-intro {
	margin-top: 50px;
	margin-top: 3.0rem;
	text-align: center;
}

.job-description {
	height: 50px;
	height: 5.0rem;
}

.education-title-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.edu-intro-line-1  {
	margin-bottom: 5px;
	margin-bottom: 1rem;
	margin-top: 5px;
	margin-top: .5rem;
	font-size: 1.8rem;
}

.edu-intro-line-2 {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-bottom: 2.0rem;
	font-size: 1.8rem;
}

.olin-logo {
	display: inline;
	width: 50px;
	width: 5.0rem;
}

.olin-title {
	display: inline;	
	margin-left: 10px;
	margin-left: 1.0rem;
	margin-bottom: 2.0rem
}

.education {
	margin-top: 30px;
	margin-top: 3.0rem;
	margin-bottom: 30px;
	margin-bottom: 3.0rem;
}

.education h1 {
	font-size: 2.5rem;
}

.education h3 {
	font-size: 1.8rem;
}

.education h4 {
	font-size: 1.6rem;
}

.education .activity {
	font-size: 1.2rem;
}

@media (max-device-width: 480px) { 
	.contact-box {	
		display: inline-block;
		padding: 20px 30px;
		padding: 2.0rem 3.0rem;
		border: 4px solid black;
		background: white;
		z-index: 1;
	}
	
	.profile-photo-container {
		margin-bottom: 60px;
		margin-bottom: 6.0rem;
		margin-top: 60px;
		margin-top: 6.0rem;
		height: 400px;
		height: 40rem;
		width: 400px;
		width: 40rem;
	}

	.center-photo {
		 display: flex;
		 justify-content: center;
	}

	.profile-photo {
		height: 400px;
		height: 40rem;
		width: 400px;
		width: 40rem;
	}

	.bio {
		font-size: 40px;
		font-size: 4.0rem;
	}

	.mobile-only {
		display: block;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mobile-arrow {
		width: 50%;
		border-right: 4px solid black;
		align-self: flex-start;
		top: 50%;
		height: 40%;
		position: absolute;
	}

	.mobile-arrow-head {
		position: absolute;
		font-size: 7.0rem;
		top: 94%;
		right: -19px;
	}

	.web-only {
		display: none;
	}

	h1 {
		font-size: 90px;
	}

	h2 {
		font-size: 70px;
	}

	h3 {
		font-size: 60px;
	}

	h4 {
		font-size: 50px;
	}

	.jobs h1 {
		font-size: 90px;
	}

	.jobs h2 {
		font-size: 60px;
	}

	.jobs h3 {
		font-size: 50px;
	}

	.jobs h4 {
		font-size: 40px;
	}

	.jobs div {
		font-size: 30px;
	}

	.job-description {
		height: inherit;
		margin-bottom: 40px;
	}

	.logo {
		height: 100px;
	}

	.activity {
		margin-bottom: 20px;
	}

	.container {
		margin-top: 40px; 
	}

	.olin-logo {
		display: none;
	}

	.job-group {
		margin-bottom: 100px;
	}

	.education h1 {
		font-size: 5.0rem;
	}

	.education h3 {
		font-size: 4.0rem;
	}

	.education h4 {
		font-size: 3.6rem;
	}

	.education .activity {
		font-size: 2.4rem;
	}

	.edu-intro-line-1, .edu-intro-line-2  {
		font-size: 3.0rem;
	}

	.activity-heading {	
		margin-bottom: 35px;
		margin-bottom: 3.5rem;
	}

	.work-section-header {
		margin-bottom: 30px;
		margin-bottom: 3.0rem;
	}
}